<div class="row">
    <div class="col-md-12">    
        <ul class="row p-0">
            <li class="col-md-3">
                <a routerLink= "fromEvent">fromEvent</a>
            </li>
            <li class="col-md-3">
                <a routerLink= "interval">Interval</a>
            </li>
            <li class="col-md-3">
                <a routerLink= "of-from">Of-From</a>
            </li>
            <li class="col-md-3">
                <a routerLink= "to-array">ToArray</a>
            </li> 
            <li class="col-md-3">
                <a routerLink= "custom">Custom Observable</a>
            </li>  
            <li class="col-md-3">
                <a routerLink= "map">Map</a>
            </li>       
        </ul>
    </div>
</div>