<div>
    
    <div class="row">
        <div class="col-md-4">  
            <h2 class="my-5">Concat Map
            </h2>
            <strong>Ex - 01 | ConcatMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                Mobile Notification                
            </p>                                
        </div>
        <div class="col-md-8">
            <div class="iphone-x">
                <i>Speaker</i>
                <b>Camera</b>
                <s>10:24</s>
                <div class="notification" id="elContainer">                    
                    <!-- <div class="item">
                        <div class="header">
                            <div class="app">
                                <img src="../../../assets/Images/facebook.png" alt="" width="20">Facebook
                            </div>
                            <div class="time">4 Second Ago.</div>
                        </div>
                        <div class="body">
                            <img src="../../../assets/Images/download (1).jpg" alt="" class="item-img">
                            <strong>Alex Johnson</strong>
                            <p>Commented on your #Uxtrendz Post: Awesome Post !!!!! Thanks...</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">
                            <div class="app">
                                <img src="../../../assets/Images/twitter.jfif" alt="" width="20">Twitter
                            </div>
                            <div class="time">4 Second Ago.</div>
                        </div>
                        <div class="body">
                            <img src="../../../assets/Images/download (2).jpg" alt="" class="item-img">
                            <strong>Alex Johnson</strong>
                            <p>Commented on your #Uxtrendz Post: Awesome Post !!!!! Thanks...</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">
                            <div class="app">
                                <img src="../../../assets/Images/facebook.png" alt="" width="20">Facebook
                            </div>
                            <div class="time">4 Second Ago.</div>
                        </div>
                        <div class="body">
                            <img src="../../../assets/Images/download (3).jpg" alt="" class="item-img">
                            <strong>Alex Johnson</strong>
                            <p>Commented on your #Uxtrendz Post: Awesome Post !!!!! Thanks...</p>
                        </div>
                    </div> -->
                </div>
                <span>Left action button</span>
                <span>Right action button</span>
              </div>                      
        </div>                
    </div>            
</div>
